.container{
    width: 100%;
    max-width: 296px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 48px 0;
    @media screen and (min-width: 768px) {
        max-width: 540px;
    }
    @media screen and (min-width: 1024px) {
        max-width: 968px;
    }
    @media screen and (min-width: 1360px) {
        max-width: 1120px;
        padding: 48px 16px;
    }
}